$tx-primary: transparent linear-gradient(90deg, #00D1DE 0%, #00A2FF 100%) 0% 0% no-repeat padding-box;
$bg-primary: transparent linear-gradient(90deg, #00D1DE 0%, #00A2FF 100%) 0% 0% no-repeat padding-box;
$tx-dark:#1C1E30;
$tx-dark-blue:#303d53;
$tx-black:#313131;
$tx-full-black:#000000;
$tx-light-gray:#8B8B8B;
